%input-text {
    border: 2px solid $primary;
    border-radius: 40px;
    color: $text;
    font-family: inherit;

    &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 1px rgba(171, 100, 204, 0.6);
    }
}

%input-placeholder {
    ::placeholder {
        color: $textLighter;
        font-family: inherit;
    }
}

%button {
    background: $primary;
    border: 2px solid $primary;
    box-shadow: 0px 10px 15px rgba(193, 113, 227, 0.4);
    border-radius: 40px;
    color: #ffffff;
    font-family: inherit;

    &:hover {
        cursor: pointer;
        background: $primaryLight;
        border: 2px solid $primaryLight;
    }

    &:focus {
        background: $primaryDark;
        border: 2px solid $primaryDark;
        outline: none;
    }
}

%vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}